<nav class="navbar" style=" height: 80px; width: auto; box-shadow: 0px 2px 5px  #777;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    |
    <th><a  class="text-secondary" href="/dashboard">Dashboard</a></th>
    |
    <th><a  class="text-secondary" href="/loans">View Loans</a></th>
    |
    <th><a  class="text-secondary" href="/applications">View Loan Applications</a></th>
    |
    <th><a  class="text-secondary" href="/loan-application">Apply for Loan</a></th>
    |
    <button class="btn" (click)="onLogout()">Logout</button>
  </div>
</nav>
<br>
<div class="container">

  <legend class="text-primary">Active Users</legend><br>
  <!-- <hr style="color: red; border: 2px solid red"> -->
  <table class="table table-striped table-bordered">
    <h2>--Member Details--</h2><br>
    <tr>
      <th>Member Id</th>
      <th>User Name</th>
      <th>Full Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Member Type</th>
      <th>Address</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Maritial Status</th>
    </tr>
    <tr *ngFor="let member of members">
      <td>{{member.memberId}}</td>
      <td>{{member.userName}}</td>
      <td>{{member.firstName}} {{member.lastName}}</td>
      <td>{{member.contactNumber}}</td>
      <td>{{member.emailId}}</td>
      <td>{{member.memberType}}</td>
      <td>{{member.address}}</td>
      <td>{{member.dateOfBirth}}</td>
      <!--mapping gender-->
      <td *ngIf="member.gender === 'M'">Male</td>
      <td *ngIf="member.gender === 'F'">Female</td>
      <!---->
      <!--mapping Civil Status-->
      <td *ngIf="member.civilStatus === 0">Unmarried</td>
      <td *ngIf="member.civilStatus === 1">Married</td>
      <!---->
    </tr>
  </table>
</div>

<!--blur: style="text-shadow: #111 0 0 15px; color:transparent "-->
