.navbar{
  background-color: gainsboro;
}

.navbar-brand {
  background-image: url(assests\images\logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 40px;
  width: 200px;
}

.btn {
  border-radius: 15%;
  box-shadow: 0px 2px 5px  #777;
  color: whitesmoke;
  background: rgb(0, 68, 255);
}

.btn:hover {
  background: #d8085f;
}


.navbar{
  background-color: gainsboro;
}

